<!--
A fully spec-compliant TodoMVC implementation
https://vuejs.org/examples/#todomvc
-->
<!DOCTYPE html>
<html lang="en" data-framework="vue">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoMVC: Vue</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/todomvc-app-css@2.4.3/index.min.css"
    />
    <script type="module">
      import {
        createApp,
        ref,
        computed,
        toRaw,
        onMounted,
        onUnmounted
      } from 'https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.prod.js'
      import {
        openDB,
        SyncManager,
        LiveQuery
      } from 'https://cdn.jsdelivr.net/npm/synceddb@0.0.2/+esm'
      import { v4 as uuidv4 } from 'https://cdn.jsdelivr.net/npm/uuid@10.0.0/+esm'

      const STORAGE_KEY = 'vue-todomvc'

      const filters = {
        all: (todos) => todos,
        active: (todos) => todos.filter((todo) => !todo.completed),
        completed: (todos) => todos.filter((todo) => todo.completed)
      }

      createApp({
        setup() {
          const todos = ref([])
          const visibility = ref('all')
          const editedTodo = ref()
          let db = null
          let query = null

          // derived state
          const filteredTodos = computed(() => filters[visibility.value](todos.value))
          const remaining = computed(() => filters.active(todos.value).length)

          // handle routing
          window.addEventListener('hashchange', onHashChange)
          onHashChange()

          function toggleAll(e) {
            const transaction = db.transaction('todos', 'readwrite')
            todos.value.forEach((todo) => {
              todo.completed = e.target.checked
              transaction.store.put(toRaw(todo))
            })
          }

          function addTodo(e) {
            const value = e.target.value.trim()
            if (value) {
              db.add('todos', { id: uuidv4(), title: value, completed: false })
              e.target.value = ''
            }
          }

          function removeTodo(todo) {
            db.delete('todos', todo.id)
          }

          function saveTodo(todo) {
            db.put('todos', toRaw(todo))
          }

          let beforeEditCache = ''
          function editTodo(todo) {
            beforeEditCache = todo.title
            editedTodo.value = todo
          }

          function cancelEdit(todo) {
            editedTodo.value = null
            todo.title = beforeEditCache
          }

          function doneEdit(todo) {
            if (editedTodo.value) {
              editedTodo.value = null
              todo.title = todo.title.trim()
              if (!todo.title) removeTodo(todo)
              else saveTodo(todo)
            }
          }

          function removeCompleted() {
            const transaction = db.transaction('todos', 'readwrite')
            filters.completed(todos.value).forEach((todo) => {
              transaction.store.delete(todo.id)
            })
          }

          function onHashChange() {
            const route = window.location.hash.replace(/#\/?/, '')
            if (filters[route]) {
              visibility.value = route
            } else {
              window.location.hash = ''
              visibility.value = 'all'
            }
          }

          onMounted(async () => {
            db = await openDB(STORAGE_KEY, 1, {
              upgrade(db) {
                db.createObjectStore('todos', { keyPath: 'id' })
              }
            })
            const manager = new SyncManager(db, 'api', {
              fetchInterval: 5000
            })
            manager.start()
            query = new LiveQuery(['todos'], async () => {
              todos.value = await db.getAll('todos')
            })
            await query.run()
          })

          onUnmounted(async () => {
            query.close()
          })

          return {
            todos,
            visibility,
            editedTodo,
            filteredTodos,
            remaining,
            toggleAll,
            addTodo,
            removeTodo,
            editTodo,
            doneEdit,
            cancelEdit,
            removeCompleted,
            saveTodo
          }
        }
      }).mount('#app')
    </script>
  </head>
  <body>
    <div id="app">
      <section class="todoapp">
        <header class="header">
          <h1>Todos</h1>
          <input
            class="new-todo"
            autofocus
            placeholder="What needs to be done?"
            @keyup.enter="addTodo"
          />
        </header>
        <section class="main" v-show="todos.length">
          <input
            id="toggle-all"
            class="toggle-all"
            type="checkbox"
            :checked="remaining === 0"
            @change="toggleAll"
          />
          <label for="toggle-all">Mark all as complete</label>
          <ul class="todo-list">
            <li
              v-for="todo in filteredTodos"
              class="todo"
              :key="todo.id"
              :class="{ completed: todo.completed, editing: todo === editedTodo }"
            >
              <div class="view">
                <input
                  class="toggle"
                  type="checkbox"
                  v-model="todo.completed"
                  @change="saveTodo(todo)"
                />
                <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                <button class="destroy" @click="removeTodo(todo)"></button>
              </div>
              <input
                v-if="todo === editedTodo"
                class="edit"
                type="text"
                v-model="todo.title"
                @vue:mounted="({ el }) => el.focus()"
                @blur="doneEdit(todo)"
                @keyup.enter="doneEdit(todo)"
                @keyup.escape="cancelEdit(todo)"
              />
            </li>
          </ul>
        </section>
        <footer class="footer" v-show="todos.length">
          <span class="todo-count">
            <strong>{{ remaining }}</strong>
            <span>{{ remaining === 1 ? ' item' : ' items' }} left</span>
          </span>
          <ul class="filters">
            <li>
              <a href="#/all" :class="{ selected: visibility === 'all' }">All</a>
            </li>
            <li>
              <a href="#/active" :class="{ selected: visibility === 'active' }">Active</a>
            </li>
            <li>
              <a href="#/completed" :class="{ selected: visibility === 'completed' }">Completed</a>
            </li>
          </ul>
          <button
            class="clear-completed"
            @click="removeCompleted"
            v-show="todos.length > remaining"
          >
            Clear completed
          </button>
        </footer>
      </section>
    </div>
  </body>
</html>
