<!--
A fully spec-compliant TodoMVC implementation
https://vuejs.org/examples/#todomvc
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TodoMVC Vue Import Export</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/todomvc-app-css@2.4.1/index.min.css"
    />
    <script type="module">
      import {
        createApp,
        ref,
        computed,
        watchEffect
      } from 'https://cdn.jsdelivr.net/npm/vue@3/dist/vue.esm-browser.prod.js'

      const STORAGE_KEY = 'vue-todomvc'

      const filters = {
        all: (todos) => todos,
        active: (todos) => todos.filter((todo) => !todo.completed),
        completed: (todos) => todos.filter((todo) => todo.completed)
      }

      createApp({
        setup() {
          // state
          const todos = ref(JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]'))
          const visibility = ref('all')
          const editedTodo = ref()

          // derived state
          const filteredTodos = computed(() => filters[visibility.value](todos.value))
          const remaining = computed(() => filters.active(todos.value).length)

          // handle routing
          window.addEventListener('hashchange', onHashChange)
          onHashChange()

          // persist state
          watchEffect(() => {
            localStorage.setItem(STORAGE_KEY, JSON.stringify(todos.value))
          })

          function toggleAll(e) {
            todos.value.forEach((todo) => (todo.completed = e.target.checked))
          }

          function addTodo(e) {
            const value = e.target.value.trim()
            if (value) {
              todos.value.push({
                id: Date.now(),
                title: value,
                completed: false
              })
              e.target.value = ''
            }
          }

          function removeTodo(todo) {
            todos.value.splice(todos.value.indexOf(todo), 1)
          }

          let beforeEditCache = ''
          function editTodo(todo) {
            beforeEditCache = todo.title
            editedTodo.value = todo
          }

          function cancelEdit(todo) {
            editedTodo.value = null
            todo.title = beforeEditCache
          }

          function doneEdit(todo) {
            if (editedTodo.value) {
              editedTodo.value = null
              todo.title = todo.title.trim()
              if (!todo.title) removeTodo(todo)
            }
          }

          function removeCompleted() {
            todos.value = filters.active(todos.value)
          }

          function onHashChange() {
            const route = window.location.hash.replace(/#\/?/, '')
            if (filters[route]) {
              visibility.value = route
            } else {
              window.location.hash = ''
              visibility.value = 'all'
            }
          }

          function exportData() {
            const a = document.createElement('a')
            a.href = URL.createObjectURL(
              new Blob([localStorage.getItem(STORAGE_KEY)], {
                type: 'application/json'
              })
            )
            a.setAttribute('download', STORAGE_KEY + '.json')
            document.body.appendChild(a)
            a.click()
            document.body.removeChild(a)
          }

          function importData() {
            const input = document.createElement('input')
            input.type = 'file'
            input.multiple = false
            input.accept = 'application/json'
            input.onchange = (e) => {
              const files = Array.from(e.target.files)
              const reader = new FileReader()
              reader.onload = (e) => {
                todos.value = JSON.parse(e.target.result)
              }
              reader.readAsText(files[0])
            }
            input.click()
          }

          return {
            todos,
            visibility,
            editedTodo,
            filteredTodos,
            remaining,
            toggleAll,
            addTodo,
            removeTodo,
            editTodo,
            doneEdit,
            cancelEdit,
            removeCompleted,
            exportData,
            importData
          }
        }
      }).mount('#app')
    </script>
  </head>
  <body>
    <div id="app">
      <section class="todoapp">
        <header class="header">
          <h1>Todos</h1>
          <input
            class="new-todo"
            autofocus
            placeholder="What needs to be done?"
            @keyup.enter="addTodo"
          />
        </header>
        <section class="main" v-show="todos.length">
          <input
            id="toggle-all"
            class="toggle-all"
            type="checkbox"
            :checked="remaining === 0"
            @change="toggleAll"
          />
          <label for="toggle-all">Mark all as complete</label>
          <ul class="todo-list">
            <li
              v-for="todo in filteredTodos"
              class="todo"
              :key="todo.id"
              :class="{ completed: todo.completed, editing: todo === editedTodo }"
            >
              <div class="view">
                <input class="toggle" type="checkbox" v-model="todo.completed" />
                <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                <button class="destroy" @click="removeTodo(todo)"></button>
              </div>
              <input
                v-if="todo === editedTodo"
                class="edit"
                type="text"
                v-model="todo.title"
                @vue:mounted="({ el }) => el.focus()"
                @blur="doneEdit(todo)"
                @keyup.enter="doneEdit(todo)"
                @keyup.escape="cancelEdit(todo)"
              />
            </li>
          </ul>
        </section>
        <footer class="footer" v-show="todos.length">
          <span class="todo-count">
            <strong>{{ remaining }}</strong>
            <span>{{ remaining === 1 ? ' item' : ' items' }} left</span>
          </span>
          <ul class="filters">
            <li>
              <a href="#/all" :class="{ selected: visibility === 'all' }">All</a>
            </li>
            <li>
              <a href="#/active" :class="{ selected: visibility === 'active' }">Active</a>
            </li>
            <li>
              <a href="#/completed" :class="{ selected: visibility === 'completed' }">Completed</a>
            </li>
          </ul>
          <button
            class="clear-completed"
            @click="removeCompleted"
            v-show="todos.length > remaining"
          >
            Clear completed
          </button>
          <button class="clear-completed" @click="exportData">Export</button>
          <button class="clear-completed" @click="importData">Import</button>
        </footer>
      </section>
    </div>
  </body>
</html>
